---
import { getCollection } from "astro:content";
import PostLink from "../PostLink.astro";

const recentWritings = await getCollection("writings").then((writings) =>
  writings
    .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
    .filter((_, index) => index <= 4),
);
---

<a class="mb-5 block font-medium sm:mb-4" href="/writings">Writing</a>
<div class="flex flex-col gap-7 sm:gap-4">
  {
    recentWritings.map((recentWriting) => {
      const slug = recentWriting.id.split("/").pop() as string;
      const title = recentWriting.data.title;
      const description = recentWriting.data.description;

      return <PostLink link={slug} title={title} description={description} />;
    })
  }
</div>
