---
import Header from "./Header.astro";
import RecentWriting from "./RecentWriting.astro";
---

<Header />
<main class="mt-32">
  <span class="mb-5 block font-medium sm:mb-6">Today</span>
  <p class="text-secondary">
    I work as a design engineer at Linear. I like to build things for designers
    and developers, and think deeply about the user interface, how it looks,
    feels, behaves.
  </p>
  <div class="mt-16 sm:mt-32">
    <RecentWriting />
  </div>
</main>
