---
import Header from "./Header.astro";
import RecentWriting from "./RecentWriting.astro";
import ProjectList from "./ProjectList.astro";
---

<Header />
<p class="leading-7 text-secondary">
  뉴로클에서 Neuro-T를 개발하고 있습니다. 단정함을 코드에 담는 것을 좋아하며
  복잡함을 간단 명료하게 풀어낼때 희열을 느낍니다. 최근에는 상호작용과
  애니메이션을 공부하고 있습니다.
</p>
<div class="mt-16 sm:mt-32">
  <ProjectList />
</div>
<div class="mt-16 sm:mt-32">
  <RecentWriting />
</div>
<footer class="mt-16">
  <span class="mb-6 block font-medium">More</span>
  <p class="text-secondary">
    제 작업과 코드는 <a
      class="underline"
      target="_blank"
      href="https://github.com/sht02048">Github</a
    >에서 확인할 수 있습니다.
  </p>
</footer>
