---
const heading = Astro.props;
const headingId: string = heading.id;
---

<a
  href={`#${headingId}`}
  class="mb-4 mt-16 inline-block w-fit no-underline md:mt-20"
>
  <h3 id={headingId}>
    <slot />
  </h3>
</a>
