---
import "../style/global.css";
import BaseHead from "../components/base/head.astro";
import type { Seo } from "../types/seo";

type Props = {
  seo?: Seo;
};

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="m-0 w-full h-full">
  <head>
    <BaseHead seo={seo} />
  </head>
  <body class="m-0 w-full h-full bg-background text-primary">
    <slot />
  </body>
</html>
