---
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";

import "../style/global.css";
import type { Seo } from "../types/seo";
import BaseHead from "../components/base/head.astro";

type Props = {
  seo?: Seo;
};

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en" class="m-0 w-full h-full">
  <head>
    <BaseHead seo={seo} />
    <Analytics />
    <SpeedInsights />
  </head>
  <body class="m-0 w-full h-full bg-background text-primary">
    <slot />
  </body>
</html>
